### Python Basics

**Python is a programming language.** This means python is a language with which we can communicate to our computer and tell it what to do!

A **dynamic** programming language, is a programming language that executes it's commands at runtime. On the other hand static programming languages require a procedure that is called compilation. This procedure first translates the human-readable commands into machine-language instructions. An interpreted language doesn't require a compiler to run, but an interpreter.

**General-purpose** programming languages, are those that are used in a wide variety of application domains. On the contrary there are domain-specific programming languages that are used in a single domain. Some examples of the latter are HTML (markup language for web applications), MATLAB (matrix representation and visualization), SQL (relational database queries) and UNIX shell scripts (data organization in unix-based systems).

A **high-level** programming language has a strong abstraction from the details of the computer. These languages are much easier to work with, because they automate many areas such as memory management.

Python is a really easy and powerful programming language and it has a simple and very straightforward syntax.

**Comments in python**

Comments are lines that are ignored from the computer and are meant only for humans to be read.

In [2]:
# This is a comment!

'''
This is a
multiline
comment.
'''

'\nThis is a\nmultiline\ncomment.\n'

**Assigning values to variables**

To store information in memory we use variables. These can be letters or combinations of letters and numbers that help us store data to memory.

The procedure with which we give a variable a value is called assignment and is done in python with the **equal sign (=)**.

In [13]:
a = 10
a

10

In [14]:
b = 20
b

20

**Printing to the screen**

In order to display information to the user, we use the ```print``` function.

In [1]:
print('Hello World!')

Hello World!

In [17]:
print(b)
print(a)

20
10

In [19]:
print("value of a is --- >   " ,  a)

value of a is --- >    10

In [21]:
print("value of a is --- >   " ,  a   , "value of b is   --->"  ,b )

value of a is --- >    10 value of b is   ---> 20

**Data Types**

Python has 5 standard data types:

Numbers, Strings, Lists, Tuples and Dictionaries

In [22]:
# 1 Numbers
# 2 str
# 3 Tuple
# 4 List
# 5 Dictionary

***Numbers***

**int**: for signed integers

In [3]:
a, b, c = 0, 55, -555
type(a)

int

**float**: for floating point decimals

In [4]:
a, b, c = 1.0, 89.3333333, -12.1
type(a)

float

**Strings**

Strings are sequences of characters represented in quotation marks.

In [5]:
st = 'I am a string!'
st_2 = "1"
st_3 = ''
type(st)

str

**Tuple** 

is one dimensional representaion of data which can be of mixed type and is immutable and enclosed within parentheses: (...)

In [24]:
tup1  =  (  2,3,5,6,710 , 90 , "data"  )
tup1

(2, 3, 5, 6, 710, 90, 'data')

In [25]:
type(tup1) # type() is a built-in function used to check the nature / type of variable

tuple

Tuples support many of the built-in functions that lists do ```(min()```,``` max()```,``` len()```, ```sum()```, etc.), but does not support functions that change the elements (e.g ```.sort()```). Instead we are forced to make copies of the tuple (```new_tup = sorted(tup)```).

In [26]:
len(tup1)# number of elments in the data

7

In [27]:
tup1[2]  # indexing starts from 0

5

In [29]:
tup1[5]

90

In [31]:
tup1[2]

5

In [32]:
tup1[2]  = 55 # i want to replace 5 with 55, but it will show error because tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [34]:
t2 =  ( 10 ,11,11,11, 12,14,5,678,90,45,45,45,60)

In [35]:
type(t2)

tuple

In [36]:
t2.count(45)# number of times / Freq

3

In [38]:
t2.count(10)

1

In [39]:
t2.index(12)

4

In [40]:
t2.index(11)

1

**LIST**

it is One dimensional represnetion of data which can be of mixed type and its Muttable and objects are separated by commas and enclosed by square brackets: [...]

In [43]:
l1 = [ 10 , 20 , 9 ,  8, 34, 56,  90 ,100 , "data" , 90 , "science"]

In [44]:
type(l1)

list

In [45]:
len(l1)

11

In [46]:
l1[2]

9

In [47]:
l1[2]  = 9999

In [48]:
l1

[10, 20, 9999, 8, 34, 56, 90, 100, 'data', 90, 'science']

In [53]:
l1.append(2000)# append is used to add a element at the end

In [54]:
l1

[10, 20, 9999, 8, 34, 56, 90, 100, 'data', 90, 'science', 2000, 2000, 2000]

In [55]:
l1.count(2000) # count is used to count elements

3

In [57]:
l1.index(20)

1

In [58]:
abc = list(     [ 20 , 30, 56,7,8,8,99, 754]     )

In [59]:
type(abc)

list

In [60]:
t2 =  ( 10 ,11,11,11, 12,14,5,678,90,45,45,45,60)
type(t2)

tuple

In [61]:
abd  = list(t2)

In [62]:
type(abd)

list

**Dictionaries**

Dictionaries store data in key-value pairs. Dictionaries are enclosed by curly brackets: {...}

In [6]:
dc = {'name': 'a_name', 'age': 66, 'address': [53, 'Fragkoklistias', 'St'] }
dc_2 = {}
type(dc)

dict

We can change types for example:

In [8]:
a = 5
int(a)  # integer
float(a)  # float
str(a)  # string
repr(a)  # expression string
l = []
t =tuple(l)  # tuple
list(t)  # list
set(t)  # set
dict(t)  # dict
chr(a)  # character

'\x05'

**Other Built-In Methods**

In [15]:
D1 = {'Name': 'Jack', 'Age': 12, 'Phone': '0123456789'}

D1_cp = D1.copy()
# Returns a shallow copy of dictionary dict
D1.get('Age')
# Returns the value of the key 'Age'. Same as D1['Age']:  12
D1.items()
# Returns a list of dict's (key, value) tuple pairs:   [('Phone', '0123456789'), ('Age', 12), ('Name', 'Jack')]
D1.keys()
# Returns list of dictionary dict's keys:  ['Phone', 'Age', 'Name']
D1.values()
# Returns list of dictionary dict's values:  ['0123456789', 12, 'Jack']
# note again that both keys and values are unsorted
D2 = {} 
D2 = D2.fromkeys(('key1', 'key2', 'key3', 'key4'), ['val1', 'val2'])
# Create a new dictionary with keys from a sequence and values set to the values in a list: {'key3': ['val1', 'val2'], 'key2': ['val1', 'val2'], 'key1': ['val1', 'val2'], 'key4': ['val1', 'val2']}
D1.update(D2)
# Adds dictionary D2's key-values pairs to D1:  {'Phone': '0123456789', 'Name': 'Jack', 'key3': ['val1', 'val2'], 'key2': ['val1', 'val2'], 'Age': 12, 'key1': ['val1', 'val2'], 'key4': ['val1', 'val2']}
print("D1 is: ", D1)
print("D2 is: ", D2)

D1 is:  {'Name': 'Jack', 'Age': 12, 'Phone': '0123456789', 'key1': ['val1', 'val2'], 'key2': ['val1', 'val2'], 'key3': ['val1', 'val2'], 'key4': ['val1', 'val2']}
D2 is:  {'key1': ['val1', 'val2'], 'key2': ['val1', 'val2'], 'key3': ['val1', 'val2'], 'key4': ['val1', 'val2']}

### Numerical Operations

The basic numeric operators in python are:

In [9]:
a = 4
b = 5
c = 6

# Sum:
S = a + b
print('a + b =', S)

# Difference:
D = c - a
print('c - a =', D)

# Product:
P = b * c
print('b * c =', P)

# Quotient:
Q = c / a
print('c / a =', Q)

# Remainder:
R = c % a 
print('a % b =', R)

# Floored Quotient:
F = c // a
print('a // b =', F)

# Negative:
N = -a
print('-a =', N)

# Power:
Pow = b ** a
print('b ** a =', Pow)

a + b = 9
c + a = 2
b * c = 30
c / a = 1.5
a % b = 2
a // b = 1
-a = -4
b ** a = 625

We can combine more than one operations in a single line

In [10]:
E = a + b - c
print(E)

3

**Helpful built-in string functions**

In [11]:
st1 = 'I am a string'
st2 = "me too!"
print('st1:             ', st1)
print('len(st1):        ', len(st1))
# returns the length of the string: 13
print("st1.index('a'):  ", st1.index('a'))
# returns the index of the first matching argument passed (in this case 'a'): 2
print("st1.count('a'):  ", st1.count('a'))
# returns how many times 'a' appears in the string: 2
print("st1.count('i'):  ", st1.count('i'))
# strings are case sensitive: 1
st3 = 'sasasas'
# New string
print("st3:             ", st3)
print("st1.count('sas'):", st3.count('sas'))
# counts only discrete appearances: 2 (even though 'sas' appears 3 times it returns 2 because the first 's' from the second 'sas' is the same as the last 's' of the first 'sas')

st1:              I am a string
len(st1):         13
st1.index('a'):   2
st1.count('a'):   2
st1.count('i'):   1
st3:              sasasas
st1.count('sas'): 2

**Logical operations**

in, not in

In [12]:
print('st1:            ', st1)
print("'a' in st1:     ", 'a' in st1)
# Returns True (because there is an 'a' in st1)
print("'o' in st1:     ", 'o' in st1)
# Returns False (because there isn't an 'o' in st1)
print("'o' not in st1: ", 'o' not in st1)
# Returns the opposite of the previous

st1:             I am a string
'a' in st1:      True
'o' in st1:      False
'o' not in st1:  True

In [13]:
print('st1 + st2: ', st1 + st2) # concatenation of st1 and st2

st1 + st2:  I am a stringme too!

In [14]:
# Capitalization

st4 = 'rAnDoMLy CAPitaLiZed StrInG'
print('st4:              ', st4)
print("st4.capitalize(): ", st4.capitalize())
# returns string with first letter capitalized and rest lowercase
print("st4.lower():      ", st4.lower())
# all lowercase
print("st4.upper():      ", st4.upper())
# all uppercase
print("st4.swapcase():   ", st4.swapcase())
# swaps upper for lowercase and vice versa
print("st4.title():      ", st4.title())
# capitalizes the first letter of each word

st4:               rAnDoMLy CAPitaLiZed StrInG
st4.capitalize():  Randomly capitalized string
st4.lower():       randomly capitalized string
st4.upper():       RANDOMLY CAPITALIZED STRING
st4.swapcase():    RaNdOmlY capITAlIzED sTRiNg
st4.title():       Randomly Capitalized String

**Split and Join**

Split is used for splitting a string into a list of substrings according to a delimiter. Join helps us merging a list of characters into a single string.

In [15]:
print('st1:              ', st1)
spl = st1.split()
print('st1.split():      ', spl)
# Splits string into a list of substrings (default delimiter: space)
print("st1.split('a'):   ", st1.split('a'))
# Split with delimiter 'a' (spacing is preserved)
print("st1.split('a', 1):", st1.split('a', 1))
# Split with delimiter 'a'. Performs only 1 split
print("''.join(spl):    ", ''.join(spl))
# Joins sequence of strings as a string
print("'-'.join(spl):    ", '-'.join(spl))
# Joins sequence of strings with '-' as delimiter

st1:               I am a string
st1.split():       ['I', 'am', 'a', 'string']
st1.split('a'):    ['I ', 'm ', ' string']
st1.split('a', 1): ['I ', 'm a string']
''.join(spl):     Iamastring
'-'.join(spl):     I-am-a-string

**Replace**  
Python also has a built-in method for finding a substring in a string and replacing it with another one.

In [17]:
print("Before replace: ", st2)
print('After replace:  ', st2.replace('too','three'))
# replaces 'too' with 'three' in st2
print("replace 'zz': ", 'razzndzzom stzzrizzng'.replace('zz', ''))
# removes 'zz' from the string
st5 = '   lots       of whitespace    '
print('remove whitespace from previous example:', st5.replace(' ', ''))
# removes all whitespace from the string
print('remove whitespace from previous example:', st5.replace('  ', ' '))
# replaces double spaces with single ones

Before replace:  me too!
After replace:   me three!
replace 'zz':  random string
remove whitespace from previous example: lotsofwhitespace
remove whitespace from previous example:   lots    of whitespace

**Formatting**  
Formatting is typically done with the built-in string.format() method. This method takes a string and replaces occurrences of curly brackets ({}) with whatever parameter we pass into it.

In [18]:
ct = 55
print('bla bla {} bla')
print('bla bla {} bla'.format(ct))

bla bla {} bla
bla bla 55 bla

There is also an older way of using formatting strings with the percent ```(%)``` sign. This does not utilize the ```string.format()``` method.

In [19]:
ts = 'The first string I used in this tutorial was: %s, and the second one was: %s' %(st1,st2)
print(ts)
n1, n2 = 5, 10
print('bla bla %i bla %.2f' %(n1,n2))
print('%(language)s has %(number)03d quote types.' %{"language": "Python", "number": 2})
print('%i is an integer, %f is a float, %s is a string.' %(15, 1.66, 'asdf'))

The first string I used in this tutorial was: I am a string, and the second one was: me too!
bla bla 5 bla 10.00
Python has 002 quote types.
15 is an integer, 1.660000 is a float, asdf is a string.

**Lists**

In [1]:
# Empty lists
L = []
L = list()
# Populated lists
L1 = ['a','b','c','d','e']
L2 = [1, 2, 3, 4, 5]

print('L = ', L)
print('L1 = ', L1)
print('L2 = ', L2)

L =  []
L1 =  ['a', 'b', 'c', 'd', 'e']
L2 =  [1, 2, 3, 4, 5]

**Indexing**  
The list's elements are indexed as integers starting from zero to (n-1), where n is the length of the list.

In [2]:
print('First element: ', L1[0]) # first element
print('Last element: ', L1[-1]) # last element

First element:  a
Last element:  e

**Slicing**  
Slicing is the operation in which we keep only a subset of the list.

Syntax is:  
```ls[a:b:c]```  
a: the index of the **starting point** of the slicing operation.  
b: the index of the **ending point** (the final element in the slice will have the index of b-1).  
c: the **step** of the operation (optional, default=1).

In [3]:
print('First two elements:                             L1[:2]    = ', L1[:2])
print('Elements from index 1 and onward:               L1[1:]    = ', L1[1:])
print('Last three elements:                            L1[-3:]   = ', L1[-3:])
print('Elements with indexes 1 to 3:                   L1[1:4]   = ', L1[1:4])
print('All elements of L1:                             L1[:]     = ', L1[:])
print('Elements from indices 2 to 4 with a step of 2:  L1[2:5:2] = ', L1[2:5:2])
print('Get every other item, starting with the first:  L1[::2]   = ', L1[::2])
print('Get every other item, starting with the second: L1[1::2]  = ', L1[1::2])

First two elements:                             L1[:2]    =  ['a', 'b']
Elements from index 1 and onward:               L1[1:]    =  ['b', 'c', 'd', 'e']
Last three elements:                            L1[-3:]   =  ['c', 'd', 'e']
Elements with indexes 1 to 3:                   L1[1:4]   =  ['b', 'c', 'd']
All elements of L1:                             L1[:]     =  ['a', 'b', 'c', 'd', 'e']
Elements from indices 2 to 4 with a step of 2:  L1[2:5:2] =  ['c', 'e']
Get every other item, starting with the first:  L1[::2]   =  ['a', 'c', 'e']
Get every other item, starting with the second: L1[1::2]  =  ['b', 'd']

**Range**  

Syntax is:  
```range(a,b,c)```  
a: **starting point** (optional, default=0).  
b: **ending point** (last integer of the range is b-1).  
c: **step** (optional, default=1).

In [4]:
print('range(10) = ', list(range(10)))
# this creates a list of integers ranging from 0 to the number before what we entered as a parameter.
# range(x) essentially creates a list of all integers in [0,x)
print('range(5,10) = ', list(range(5,10)))
# like before, range(x,y) creates a list of all integers in [x,y)
print('range(1,20,2) = ', list(range(1,20,2)))
# this creates a list of integers in the range defined by the first two numbers,
# but with a step of the third one.

range(10) =  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(5,10) =  [5, 6, 7, 8, 9]
range(1,20,2) =  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

**Note:** Range only works on **integers**.

**Updating list elements**

In [5]:
print('Before changes: L2 =', L2)
L2[2] = 6 # we update the 3rd element in our list
print('Single update: L2 =', L2)
L2[1:4] = [22, 33, 44] # update the 2nd, 3rd and 4th elements
print('Multiple update 1: L2 =', L2)
L2[1:4] = 222, 333, 444 # same thing without the list
print('Multiple update 2: L2 =', L2)

Before changes: L2 = [1, 2, 3, 4, 5]
Single update: L2 = [1, 2, 6, 4, 5]
Multiple update 1: L2 = [1, 22, 33, 44, 5]
Multiple update 2: L2 = [1, 222, 333, 444, 5]

**Deleting and inserting elements**

In [6]:
del L2[2] # deletes element of list L2 with an index of 2
print('Single delete: ', L2)
L2.insert(2, 3) # inserts element 3 to index 2 of L2
print('Single insert: ', L2)
L2.extend([6,7,8]) # extends the list with values from a new list
print('Extend: ', L2)
L2.remove(222) # removes the first occurrence of the element 2 in L2
L2.remove(444)
print('Remove: ', L2) 
L2.insert(1, 2)
L2.insert(3, 4)
print('L2 final: ', L2)
del L # deletes the whole list
print(L)  ## this will show error becauseit was deleted

Single delete:  [1, 222, 444, 5]
Single insert:  [1, 222, 3, 444, 5]
Extend:  [1, 222, 3, 444, 5, 6, 7, 8]
Remove:  [1, 3, 5, 6, 7, 8]
L2 final:  [1, 2, 3, 4, 5, 6, 7, 8]

NameError: name 'L' is not defined

The main difference between **```del```** and **```.remove()```** is that in **del** we have to refer to what we are deleting by **index**, while in **remove** we need to refer to the element's **value** instead.

While inserting,  
```list.insert(a,b)```  
adds the value ```b``` to the list ```ls``` in the spot designated by the index ```a```. All elements after ```a``` will have their index shifted up by 1.

**Other built-in functions**

In [7]:
print('len(L1) =', len(L1)) # gives the total length of the list
print('max(L1) =', max(L2)) # returns the element with the max value
print('min(L1) =', min(L2)) # returns the element with the min value
print('sum(L1) =', sum(L2)) # returns the sum of the elements in L2
print("'a's in L1 =", L1.count('a')) # counts how many times 'a' occurs in L1
seq  = ('f','g','h')
L1.extend(seq) # extends contents of seq to L1
print('Extended L1 =', L1)
print("Index of 'd' =", L1.index('d')) # returns the lowest index in list that 'd' appears in L1
print('L2 before reverse: ', L2)
L2.reverse() # reverses order of objects in list
print('L2 after reverse: ', L2)
L2[1] = 0; L2[4] = 6 
print('L2 before sort: ', L2)
L2.sort() # sorts objects in list (default = ascending) 
print('L2 after sort: ', L2)
L2.sort(reverse=True) # descending sort L2
print('L2 after reverse sort: ', L2)
# to get a sorted copy of the list we can use the sorted built in function
L2_cp = sorted(L2)

len(L1) = 5
max(L1) = 8
min(L1) = 1
sum(L1) = 36
'a's in L1 = 1
Extended L1 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
Index of 'd' = 3
L2 before reverse:  [1, 2, 3, 4, 5, 6, 7, 8]
L2 after reverse:  [8, 7, 6, 5, 4, 3, 2, 1]
L2 before sort:  [8, 0, 6, 5, 6, 3, 2, 1]
L2 after sort:  [0, 1, 2, 3, 5, 6, 6, 8]
L2 after reverse sort:  [8, 6, 6, 5, 3, 2, 1, 0]

**Iterators**  
Iterators are built-in objects that allow access to elements in a data structure.

In [8]:
print('L1 =', L1)
itr = iter(L1) # declare an iterator object of list L1
print('First element: ', next(itr))  # fetch the first element of L1 and store it in itr
print('Second element: ', next(itr)) # fetch the second element of L1 and store it in itr

L1 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
First element:  a
Second element:  b

**Membership conditions**  
These conditions help us check if a list contains a certain object and return True or False accordingly

In [9]:
print('L1 =', L1)
print('L2 =', L2)
print("'d' in L1: ", 'd' in L1)
print("'d' in L2: ", 'd' in L2)

L1 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
L2 = [8, 6, 6, 5, 3, 2, 1, 0]
'd' in L1:  True
'd' in L2:  False

**Zip**  
Zip takes two equal-length collections (works on other data structures besides lists) and merges them together in pairs

In [10]:
a = [1, 2, 3, 4, 5]
b = [2, 2, 9, 0, 9]
z = list(zip(a,b))
print('zip(a,b) =', z)

zip(a,b) = [(1, 2), (2, 2), (3, 9), (4, 0), (5, 9)]

**map**  
map takes a function and applies it to each element in an iterable.

In [12]:
s = list(map(sum, zip(a,b))) # map applies the sum function to each and every elements of zipped
print('s =', s)

s = [3, 4, 12, 4, 14]